@import "../../scss/colors.scss";
@import "../../scss/mixins.scss";
@import "../../scss/utils.scss";
.header {
  border-bottom: 2px solid rgba(138, 138, 138, 0.3);
}
.header > header {
  height: $header-height;
  background-color: $base-bg-color;
  color: $base-font-color;
  padding: 0 40px 0 40px;
  @include center;
}
.userMenu {
  font-weight: 500;
}
.userMenu::after {
  content: url("../../assets/images/Arrow\ Down.svg");
  margin-left: 10px;
}
